################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.solution/.vs
*.user
Windows7ProgressBar.sln
Windows7ProgressBar.vs2005.sln
Demo
DemoVB
/.source/HTML-Renderer
