################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.solution/.vs
*.user
Windows7ProgressBar.sln
Windows7ProgressBar.vs2005.sln
Demo
DemoVB
/.source/HTML-Renderer
/.solution/nYoutubeDL/bin/Release
/.solution/nYoutubeDL
/.source/paket-files/ArthurHub/HTML-Renderer/Build
/.source/paket-files/ArthurHub/HTML-Renderer/HTML-Renderer-e0a2d1702aae5a4f267cc60d847c2c64c1a5b0bc
/.source/paket-files/ArthurHub/HTML-Renderer/Art
/.source/paket-files/ArthurHub/HTML-Renderer/paket.version
/.source/paket-files/ArthurHub/HTML-Renderer/.gitattributes
/.source/paket-files/ArthurHub/HTML-Renderer/.gitignore
/.source/paket-files/ArthurHub/HTML-Renderer/e0a2d1702aae5a4f267cc60d847c2c64c1a5b0bc.zip
/.source/paket-files/ArthurHub/HTML-Renderer/html.ico
/.source/paket-files/ArthurHub/HTML-Renderer/Source/HtmlRenderer.sln
/.source/paket-files/ArthurHub/HTML-Renderer/Source/SharedAssemblyInfo.cs
/.source/paket-files/ArthurHub/HTML-Renderer/Source/.nuget
/.source/paket-files/ArthurHub/HTML-Renderer/Source/Demo
/.source/paket-files/ArthurHub/HTML-Renderer/Source/HtmlRenderer.PdfSharp
/.source/paket-files/ArthurHub/HTML-Renderer/Source/HtmlRenderer.WPF
/build
